/* BEGIN: background */
.background-1 {
    -fx-background-image: url("../image/background/fond_potentiel.jpg");
    -fx-background-size: 100% 100%;
}
.background-2 {
    -fx-background-image: url("../image/background/background_potentiel.png");
    -fx-background-size: 100% 100%;
}
.background-3 {
    -fx-background-image: url("../image/background/fond_potentiel_2.jpg");
    -fx-background-size: 100% 100%;
}

.bg-how-to-play {
    -fx-background-image: url("../image/background/parchemin-comment-jouer.png");
    -fx-background-size: 100% 100%;
}


.mainMenu-title-background{
    -fx-background-image: url("../image/graphic-element/label-background.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scrollpane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;

}

.scroll-bar:vertical .thumb{
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-background-image: url("../image/graphic-element/scrollpane-sidebar.png");
    -fx-background-size: 100% 100%;
}

.texture-water {
     -fx-background-image: url("../image/texture/water.png");
     -fx-background-size: 100% 100%;
     -fx-opacity: 0.7;
 }

.normal-ship {
    -fx-opacity: 1.0;
    -fx-background-image: null;
}

.texture-water-blood {
    -fx-background-image: url("../image/texture/water-blood.png");
    -fx-background-size: 100% 100%;
}
.texture-water-missed {
    -fx-background-image: url("../image/texture/water-missed.png");
    -fx-background-size: 100% 100%;
}
.texture-water-hover {
    -fx-background-image: url("../image/texture/water-hover.png");
    -fx-background-size: 100% 100%;
}

.textField-background{
    -fx-background-image: url("../image/graphic-element/textField-background.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-font-size: 23px;
    -fx-font-family: "Pieces of Eight";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.htp-style {
    -fx-font-family:"Convincing Pirate";
    -fx-font-size:15px;
}
.fleche-gauche {
    -fx-background-image: url("../image/graphic-element/btnGauche.png");
    -fx-background-size: 100% 100%;
}

.fleche-gauche:hover {
    -fx-background-image: url("../image/graphic-element/btnGauche-hover.png");
    -fx-background-size: 100% 100%;
}

.fleche-droite{
    -fx-background-image: url("../image/graphic-element/btnDroit.png");
    -fx-background-size: 100% 100%;
}

.fleche-droite:hover {
    -fx-background-image: url("../image/graphic-element/btnDroit-hover.png");
    -fx-background-size: 100% 100%;
}
/* END: background */
.info-bateau {
    -fx-font-size: 30px;
    -fx-font-family: "sans-serif";
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 0);
}
/* BEGIN: different fonts */
@font-face {
    font-family: Pieces of Eight;
    src: url('font.ttf');
}

@font-face {
    font-family: Convincing Pirate;
    src: url('ConvincingPirate.ttf');
}


/* END: different fonts */

/* BEGIN: header */
.h1-light {
    -fx-font-size: 50px;
    -fx-font-family: "Pieces of Eight";
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box , black , 6, 0.0 , 0 , 2 );
}

.h1-dark {
    -fx-font-size: 50px;
    -fx-font-family: "Pieces of Eight";
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, white, 6, 0, 0, 2);
}

.h2-light {
    -fx-font-size: 28px;
    -fx-font-family: "Pieces of Eight";
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 0);
}
/* END: header */

/* BEGIN: button */
.btn {
    -fx-font-family: "sans-serif";
    -fx-text-fill: aliceblue;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
    -fx-background-image: url("../image/icon/button.png");
    -fx-background-size: 100%;
    -fx-border-radius: 50%;
}
.btn:hover{
    -fx-background-image: url("../image/graphic-element/button-hover.png");
    -fx-background-size: 100%;
}
.btnMenu {
    -fx-font-family: "Pieces of Eight";
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-padding: 30 20 30 20;
    -fx-background-image: url("../image/graphic-element/button2.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
.btnMenu:hover{
    -fx-background-image: url("../image/graphic-element/button2-hover.png");
    -fx-background-size: 100% 100%;
}

.btn-sm {
    -fx-font-family: "Pieces of Eight";
    -fx-text-fill: aliceblue;
    -fx-font-size: 20px;
    -fx-padding: 5 10 5 10;
}
.btn-darkblue {
    -fx-background-image: url("../image/graphic-element/button-switchPage.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
.btn-darkblue:hover{
    -fx-background-image: url("../image/graphic-element/button-switchPage-hover.png");
    -fx-background-size: 100% 100%;
}
/* END: button */

/* BEGIN: graphics */
.ship-container {
    -fx-background-color: rgba(0, 100, 100, 0.5);
}

.flag-container {
    -fx-background-image: url("../image/graphic-element/animated-flag.gif");
    -fx-background-size: 100% 100%;
}

.rosace-container {
    -fx-background-image: url("../image/graphic-element/rose-des-vents.png");
    -fx-background-size: 100% 100%;
}

.heart-container{
    -fx-background-image: url("../image/graphic-element/vie.png");
    -fx-background-size: 100% 100%;
}

.destroyed-container{
    -fx-background-image: url("../image/graphic-element/destroyed.png");
    -fx-background-size: 100% 100%;
}
/* END: graphics */